In [11]:
import pandas as pd
import numpy
a = numpy.zeros(shape=(5,3))
df = pd.DataFrame(a, columns=["Frame", "Price", "Sales"])
df

   Frame  Price  Sales
0    0.0    0.0    0.0
1    0.0    0.0    0.0
2    0.0    0.0    0.0
3    0.0    0.0    0.0
4    0.0    0.0    0.0