In [3]:
# Import Dependencies
import pandas as pd

In [5]:
# File to Load

# Read the modified GoodReads csv and store into Pandas DataFrame
df = pd.read_csv("Resources_books_clean.csv")
df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [10]:
# Calculate the number of unique authors in the DataFrame
df["Authors"].value_counts()

# Calculate the earliest/latest year a book was published
df["Publication Year"].min()
df["Publication Year"].max()

# Calculate the total reviews for the entire dataset
df[["One Star Reviews","Two Star Reviews","Three Star Reviews","Four Star Reviews","Five Star Reviews"]].sum()

One Star Reviews       13450406
Two Star Reviews       31108850
Three Star Reviews    114758938
Four Star Reviews     199656966
Five Star Reviews     237898056
dtype: int64

In [ ]:
# Place all of the data found into a summary DataFrame