In [6]:
# Dependencies
import pandas as pd

In [27]:
# Load in File from resources
# 'movie_scores.csv'

In [28]:
# Read and display with pandas
df = pd.read_csv("movie_scores.csv")
df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [9]:
# List all the columns the table provides
for col in df.columns:
    print(col)

FILM
RottenTomatoes
RottenTomatoes_User
Metacritic
Metacritic_User
IMDB
Fandango_Stars
Fandango_Ratingvalue
RT_norm
RT_user_norm
Metacritic_norm
Metacritic_user_nom
IMDB_norm
RT_norm_round
RT_user_norm_round
Metacritic_norm_round
Metacritic_user_norm_round
IMDB_norm_round
Metacritic_user_vote_count
IMDB_user_vote_count
Fandango_votes
Fandango_Difference

In [10]:
# only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB

imdb_df = df[["FILM", "IMDB", "IMDB_norm", "IMDB_norm_round", "IMDB_user_vote_count"]]
imdb_df.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [23]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
imdb_df_high_rating = imdb_df.loc[imdb_df["IMDB"] > 7]
imdb_df_high_rating.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
5,The Water Diviner (2015),7.2,3.60,3.5,39373
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227

In [26]:
# Find lesser-known movies to watch, with fewer than 20K votes
lesser_know_high_rating = imdb_df_high_rating.loc[imdb_df_high_rating["IMDB_user_vote_count"] < 20000]
lesser_know_high_rating.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
9,Love & Mercy (2015),7.8,3.90,4.0,5367
10,Far From The Madding Crowd (2015),7.2,3.60,3.5,12129
20,"McFarland, USA (2015)",7.5,3.75,4.0,13769
29,The End of the Tour (2015),7.9,3.95,4.0,1320

In [21]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.
imdb_df.to_excel("IMDB_movies_dataset.xlsx", index=False)