In [2]:
# Import the Pandas library
import pandas as pd

In [3]:
# Create a reference the CSV file desired

# Read the CSV into a Pandas DataFrame
df = pd.read_csv("ufoSightings.csv")

# Print the first five rows of data to the screen
df.head()

C:\Users\bruno\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [ ]:
# Check to see if there are any rows with missing data

In [ ]:
# Remove the rows with missing data

In [ ]:
# Filter the data so that only those sightings in the US are in a DataFrame

In [ ]:
# Count how many sightings have occured within each state

In [ ]:
# Convert the state_counts Series into a DataFrame

In [ ]:
# Convert the column name into "Sum of Sightings"

In [ ]:
# Want to add up the seconds UFOs are seen? There is a problem
# Problem can be seen by examining datatypes within the DataFrame