In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
premise_file = "LicensePremise.csv"

In [3]:
county_file = "CountyLicenseCount.csv"

### Transform premise DataFrame

In [31]:
premise_df = pd.read_csv(premise_file)
new_premise_df = premise_df[['License Serial Number', 'Premises Name', 'County ID Code']].copy()
new_premise_df.rename(columns={'License Serial Number': 'id',
                              'Premises Name': 'premise_name',
                              'County ID Code': 'county_id'},
                     inplace=True)
new_premise_df.drop_duplicates("id", inplace=True)
new_premise_df.head()

        id                  premise_name  county_id
0  1311660  CANA ARRIBA GROCERY NO 2 INC          0
1  1310023    JOHANA GROCERY & DELI CORP          0
2  1310024             TKO BEVERAGES LLC          1
4  1311663  181 LEXINGTON AVENUE BBQ LLC          2
5  1310029        AZIZ DELI & GRILL CORP          1

### Transform county DataFrame

In [32]:
county_df = pd.read_csv(county_file)
new_county_df = county_df[['ID', 'County Name (Licensee)', 'License Count', 'County ID Code']].copy()
new_county_df.rename(columns={'ID': 'id',
                             'County Name (Licensee)': 'county_name',
                             'License Count': 'license_count',
                             'County ID Code': 'county_id'}, 
                    inplace=True)
new_county_df.head()

   id  county_name  license_count  county_id
0   0       ALBANY             77          5
1   1     ALLEGANY              4         59
2   2        BRONX            104          0
3   3       BROOME             14         35
4   4  CATTARAUGUS              9         41

### Create database connection

In [33]:
rds_connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [34]:
# Confirm tables
engine.table_names()

['premise', 'county']

### Load DataFrames into database

In [35]:
new_premise_df.to_sql(name='premise', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from premise', con=engine).head()

        id                  premise_name  county_id
0  1311660  CANA ARRIBA GROCERY NO 2 INC          0
1  1310023    JOHANA GROCERY & DELI CORP          0
2  1310024             TKO BEVERAGES LLC          1
3  1311663  181 LEXINGTON AVENUE BBQ LLC          2
4  1310029        AZIZ DELI & GRILL CORP          1

In [36]:
new_county_df.to_sql(name='county', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from county', con=engine).head()

   id  county_name  license_count  county_id
0   0       ALBANY             77          5
1   1     ALLEGANY              4         59
2   2        BRONX            104          0
3   3       BROOME             14         35
4   4  CATTARAUGUS              9         41